name: CI

on:
  push:
  pull_request:
  workflow_dispatch:

env:
  FORCE_COLOR: 2

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          submodules: true
          # We need to get all git revisions for `git describe` to work
          fetch-depth: 0
          persist-credentials: false

      - name: Add MSVC to PATH
        uses: ilammy/msvc-dev-cmd@0b201ec74fa43914dc39ae48a89fd1d8cb592756 # v1.13.0

      - name: Set up NASM
        uses: ilammy/setup-nasm@72793074d3c8cdda771dba85f6deafe00623038b # v1.5.2
        with:
          version: 2.16.03

      - name: Build
        run: CALL "build.bat"
        shell: cmd

      - name: Set version variable
        run: echo "JPEGOPTIM_VER=$(git describe --tags --long)" >> $GITHUB_ENV
        shell: bash

      - name: Prepare files
        run: |
          mkdir dist
          cp Release/x64/jpegoptim.exe src/jpegoptim/COPYRIGHT src/jpegoptim/LICENSE src/jpegoptim/README dist/
        shell: bash

      - name: Upload binary
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: "jpegoptim-${{ env.JPEGOPTIM_VER }}"
          path: dist/
          if-no-files-found: error
